.container {
  padding-bottom: 60px;
}

.navbar {
	font-family: 'TG-Bold';
	margin-bottom: 0;
}

#accordion {
	margin-top: 20px;
}

a.edit-organization:Link,
a.edit-organization:Visited {
	float: right;
}

.panel-body {
	color: #000;
}

div.show-grid {
	margin-left: 0;
	margin-right: 0;
}

div.show-grid > div {
	padding: 10px;
}

div.show-grid > div > div {
	background: #CCC;
	padding: 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
}

section.group-information {
	float: left;
	width: 100%;
	padding: 20px;
	margin-bottom: 40px;
	font-size: 22px;
	box-shadow: inset 0 0 10px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	clear: both;
}

section.group-information h3,
section.group-information span {
	color: #cb202a;
}

section.sales-report {
	margin-bottom: 100px;
}

/* ----------- Login ------------ */
div.container.login {
	max-width: 400px;
}