@font-face {font-family: 'TG-Reg'; src: url('/media/fonts/TG-Reg.eot'); src: url('/media/fonts/TG-Reg.eot?#iefix') format('embedded-opentype'), url('/media/fonts/TG-Reg.woff') format('woff'), url('/media/fonts/TG-Reg.ttf') format('truetype'), url('/media/fonts/TG-Reg.svg#trade_gothic_lt_stdregular') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'TG-Bold'; src: url('/media/fonts/TG-Bold.eot'); src: url('/media/fonts/TG-Bold.eot?#iefix') format('embedded-opentype'), url('/media/fonts/TG-Bold.woff') format('woff'), url('/media/fonts/TG-Bold.ttf') format('truetype'), url('/media/fonts/TG-Bold.svg#trade_gothic_lt_stdregular') format('svg'); font-weight: normal; font-style: normal;}

	body {
		background:url(/media/images/bg.jpg) repeat #242424;
		margin:0px;
		padding:0px;
		width:100%;
		height:100%;
		font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size:14px;
		font-weight:normal;
	}
	
img {border:none;}
input, select, textarea {outline:none; font-family:TG-Bold;}


/*ADMIN LOGIN*/

div.adminLogin {position:fixed; top:50%; left:50%; background:url(/media/images/homeHeaderBG.png) top center repeat; width:300px; height:150px; color:white; font-size:18px; border:4px #cb202a solid; padding:20px 20px; margin:-75px 0px 0px -170px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.adminLogin div.brand {position:absolute; top:50%; left:50%; width:242px; height:114px; margin:-220px 0px 0px -107px;}
div.adminLogin div.acmedia {position:absolute; bottom:-26px; right:0px; color:white; font-size:14px; text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.adminLogin div.acmedia a:Link,
div.adminLogin div.acmedia a:Visited {color:white; text-decoration:none;}
div.adminLogin div.acmedia a:Hover {color:#cd202a;}

div.adminLogin fieldset {position:relative; float:left; width:300px; border:none; padding:0px; margin:0px 0px 0px 0px;}
div.adminLogin fieldset input {background:black; width:280px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.adminLogin fieldset button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 0px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.adminLogin fieldset button:Hover {background:#3b3b3b;}

/*---------------------------------------------------------------GLOBALS---------------------------------------------------------------*/
section {position:relative; width:900px; padding:0px; margin:0px auto;}
section.container {position:relative; float:left; background:#3b3b3b; width:100%; padding:0px; margin:-10px 0px 10px 0px; box-shadow:0px 0px 8px black; -moz-box-shadow:0px 0px 8px black; -webkit-box-shadow:0px 0px 8px black; -o-box-shadow:0px 0px 8px black;}

section section.container header {position:relative; float:left; width:100%; margin:0px 0px 0px 0px; z-index:2;}
section section.container header div.brand {position:relative; float:left; width:100%; text-align:center; margin:12px 0px;}
section section.container header nav {position:relative; float:left; background:url(/media/images/admin/adminNavBar.jpg) repeat-x; width:100%; height:49px; padding:0px; margin:0px 0px 10px 0px;}
section section.container header nav ul {position:relative; float:left; padding:0px; margin:16px 0px 0px 14px;}
section section.container header nav ul li {float:left; list-style:none; margin:0px 10px;}

section section.container header nav ul li a:Link,
section section.container header nav ul li a:Visited {color:#bababa; text-decoration:none; font-size:16px; text-transform:uppercase;}
section section.container header nav ul li a:Hover {color:#cb202a;}

section section.container header a.logout:Link,
section section.container header a.logout:Visited {position:absolute; top:6px; right:6px; color:white; font-size:14px; text-decoration:none;}
section section.container header a.logout:Hover {color:#cb202a;}

section section.container header div.headerUsers {position:absolute; top:6px; left:10px; color:#FFF; font-size:16px;}
section section.container header div.headerUsers a:Link,
section section.container header div.headerUsers a:Visited {color:#cb202a;}

section section.container div.content {position:relative; float:left; width:860px; margin:20px; z-index:3;}
section section.container div.content h1 {position:relative; float:left; color:#cb202a; font-size:26px; text-align:left; font-weight:normal; text-transform:uppercase; padding:0px; margin:0px 0px 10px 0px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}

section section.container div.content a.addContent:Link,
section section.container div.content a.addContent:Visited {float:right; background:#cb202a; color:white; font-size:14px; text-transform:uppercase; text-decoration:none; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:8px 10px; margin:0px 0px 0px 10px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
section section.container div.content a.addContent:Hover {background:black;}

section section.container div.content a.deleteContent:Link,
section section.container div.content a.deleteContent:Visited {float:right; background:#cb202a; color:white; font-size:14px; text-transform:uppercase; text-decoration:none; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:8px 10px; margin:0px 0px 0px 10px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
section section.container div.content a.deleteContent:Hover {background:black;}

section section.container div.content a.viewContent:Link,
section section.container div.content a.viewContent:Visited {float:right; background:#cb202a; color:white; font-size:14px; text-transform:uppercase; text-decoration:none; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:8px 10px; margin:0px 0px 0px 10px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
section section.container div.content a.viewContent:Hover {background:black;}

section section.container div.content a.addMoreVouchers:Link,
section section.container div.content a.addMoreVouchers:Visited {background:#cb202a; color:white; font-size:14px; text-transform:uppercase; text-decoration:none; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:8px 10px; margin:0px 0px 0px 10px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
section section.container div.content a.addMoreVouchers:Hover {background:black;}

/*---------------------------------------------------------------FIELDS---------------------------------------------------------------*/
section section.container div.content fieldset {width:100%; border:none; padding:0px; margin:0px;}
section section.container div.content fieldset label {position:relative; float:left; width:100%; color:#CCC; font-size:18px; border:none; margin:0px 0px 4px 0px}
section section.container div.content fieldset input {background:#222222; width:840px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 8px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;}
section section.container div.content fieldset select {background:#222222; width:860px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 8px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
section section.container div.content fieldset textarea {background:#222222; width:840px; height:300px; max-height:600px; resize:vertical; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 8px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;}
section section.container div.content fieldset button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 0px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
section section.container div.content fieldset button:Hover {background:black;}

section section.container div.content fieldset select.classDate {width:270px;}
section section.container div.content fieldset select.classTime {width:270px;}

/*---------------------------------------------------------------OUR CLASSES---------------------------------------------------------------*/
section section.container div.content ul.classes {position:relative; float:left; width:100%; padding:0px; margin:0px 0px 0px 6px;}
section section.container div.content ul.classes li {float:left; list-style:none; margin:0px 0px 0px 0px;}
section section.container div.content ul.classes li a:Link,
section section.container div.content ul.classes li a:Visited {position:relative; float:left; background:#222; width:280px; height:90px; color:white; text-decoration:none; overflow:hidden; margin:0px 6px 6px 0px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;} 
section section.container div.content ul.classes li a:Hover {background:#181818}
section section.container div.content ul.classes li a div.datetime {float:left; width:100%; margin:8px 0px 0px 8px; }
section section.container div.content ul.classes li a div.location {float:left; width:100%; color:#CCC; text-transform:uppercase; font-size:16px; margin:2px 0px 0px 8px;}
section section.container div.content ul.classes li a div.status {float:left; width:100%; color:white; text-transform:uppercase; font-size:14px; margin:2px 0px 0px 8px;}
section section.container div.content ul.classes li a div.status span {color:#cb202a;}
section section.container div.content ul.classes li a div.edit {position:absolute; bottom:6px; right:6px; color:#cb202a; text-transform:uppercase; font-size:14px;}


/*---------------------------------------------------------------CLASS ROSTER---------------------------------------------------------------*/
section section.container div.content ul.roster {position:relative; float:left; width:100%; padding:0px; margin:0px 0px 0px 6px;}
section section.container div.content ul.roster li {float:left; list-style:none; margin:0px 0px 0px 0px;}
section section.container div.content ul.roster li a:Link,
section section.container div.content ul.roster li a:Visited {position:relative; float:left; background:#222; width:280px; height:60px; color:white; text-decoration:none; overflow:hidden; margin:0px 6px 6px 0px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;} 
section section.container div.content ul.roster li a:Hover {background:#181818}
section section.container div.content ul.roster li a div.datetime {float:left; width:100%; margin:8px 0px 0px 8px; }
section section.container div.content ul.roster li a div.racer {float:left; width:100%; color:#CCC; text-transform:uppercase; font-size:16px; margin:2px 0px 0px 8px;}
section section.container div.content ul.roster li a div.pass {float:left; width:100%; color:white; text-transform:uppercase; font-size:14px; margin:2px 0px 0px 8px;}
section section.container div.content ul.roster li a div.pass span {color:#cb202a;}
section section.container div.content ul.roster li a div.edit {position:absolute; bottom:6px; right:6px; color:#cb202a; text-transform:uppercase; font-size:14px;}


/*-----------------------------------------------------------RACING SIMULATORS---------------------------------------------------------------*/
section section.container div.content fieldset.simulator {width:100%; border:none;padding:0px; margin:0px;}
section section.container div.content fieldset.simulator textarea {background:#222222; width:840px; height:300px; max-height:600px; resize:vertical; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 8px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;}
section section.container div.content fieldset.simulator button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 0px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
section section.container div.content fieldset.simulator button:Hover {background:black;}


/*-------------------------------------------------------------LARX SPONSORS----------------------------------------------------------------------*/
section section.container div.content ul.sponsors {position:relative; float:left; width:100%; padding:0px; margin:0px 0px 0px 6px;}
section section.container div.content ul.sponsors li {float:left; list-style:none; margin:0px 0px 0px 0px;}
section section.container div.content ul.sponsors li a:Link,
section section.container div.content ul.sponsors li a:Visited {position:relative; float:left; background:#222; width:280px; color:white; text-decoration:none; overflow:hidden; margin:0px 6px 6px 0px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;} 
section section.container div.content ul.sponsors li a:Hover {background:#181818; color:#cb202a;}
section section.container div.content ul.sponsors li a div.sponsorName {float:left; font-size:18px; margin:14px 0px 14px 14px; }

/*EDIT*/
div.sponsorBanner {position:relative; float:left; width:100%; text-align:center; margin:20px 0px;}
div.sponsorBanner img {width:450px; border:10px #222222 solid;}


/*---------------------------------------------------------------MEDIA---------------------------------------------------------------------*/
section section.container div.content ul.media {position:relative; float:left; width:100%; padding:0px; margin:0px;}
section section.container div.content ul.media li {float:left; background:#212121; list-style:none; padding:6px; margin:10px 10px; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:2px 2px 0px black; -webkit-box-shadow:2px 2px 0px black; -moz-box-shadow:2px 2px 0px black; -o-box-shadow:2px 2px 0px black;}
section section.container div.content ul.media li div.mediaImage {position:relative; float:left; width:120px; height:120px; overflow:hidden; margin:8px;}
section section.container div.content ul.media li div.mediaImage img {width:120px; min-height:120px;}


/*---------------------------------------------------------------GALLERY---------------------------------------------------------------------*/
section section.container div.content ul.albums {position:relative; float:left; width:100%; padding:0px; margin:0px;}
section section.container div.content ul.albums li {float:left; list-style:none; margin:0px 0px 0px 0px;}
section section.container div.content ul.albums li a:Link,
section section.container div.content ul.albums li a:Visited {position:relative; float:left; background:#222; width:860px; color:white; text-decoration:none; overflow:hidden; margin:0px 6px 6px 0px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;} 
section section.container div.content ul.albums li a:Hover {background:#181818; color:#cb202a;}
section section.container div.content ul.albums li a div.albumName {float:left; font-size:18px; margin:14px 0px 14px 14px; }

div#imageMedia {display:block;}
div#videoMedia {display:none;}

/*-------------------------------------------------------------TESTIMONIALS------------------------------------------------------------------*/
div.testimonialType {position:relative; float:right; color:white; margin:0px 0px 0px 0px;}
div.testimonialType select {background:#222222; width:100px; font-size:16px; color:#919191; padding:6px 10px; margin:0px 0px 8px 10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}

div#writtenTestimonial {display:block;}
div#videoTestimonial {display:none;}
span#videoSample {color:white; font-size:12px;}
span#videoSample span {color:#cb202a;}

/*------------------------------------------------------------------FAQ----------------------------------------------------------------------*/
section section.container div.content ul.faq {position:relative; float:left; width:100%; padding:0px; margin:0px;}
section section.container div.content ul.faq li {float:left; list-style:none; margin:0px 0px 0px 0px;}
section section.container div.content ul.faq li a:Link,
section section.container div.content ul.faq li a:Visited {position:relative; float:left; background:#222; width:860px; color:white; text-decoration:none; overflow:hidden; margin:0px 6px 6px 0px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;} 
section section.container div.content ul.faq li a:Hover {background:#181818; color:#cb202a;}
section section.container div.content ul.faq li a div.question {float:left; font-size:18px; margin:14px 0px 14px 14px; }
/*EDIT*/
section section.container div.content fieldset.editFAQ {position:relative; float:left; width:820px; border:none; margin:10px 0px;}
section section.container div.content fieldset.editFAQ label {position:relative; float:left; width:100%; color:#CCC; font-size:18px; border:none; margin:0px 0px 4px 0px}
section section.container div.content fieldset.editFAQ input {background:#222222; width:100%; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 8px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;}
section section.container div.content fieldset.editFAQ textarea {background:#222222; width:100%; height:300px; max-height:600px; resize:vertical; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 8px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;}
section section.container div.content fieldset.editFAQ button {position:relative; float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 0px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
section section.container div.content fieldset.editFAQ button:Hover {background:black;}


/*---------------------------------------------------------------CLIENT TESTIMONIALS---------------------------------------------------------------*/
section section.container div.content ul.testimonials {position:relative; float:left; width:100%; padding:0px; margin:0px;}
section section.container div.content ul.testimonials li {float:left; list-style:none; margin:0px 0px 0px 0px;}
section section.container div.content ul.testimonials li a:Link,
section section.container div.content ul.testimonials li a:Visited {position:relative; float:left; background:#222; width:860px; color:white; text-decoration:none; overflow:hidden; margin:0px 6px 6px 0px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;} 
section section.container div.content ul.testimonials li a:Hover {background:#181818; color:#cb202a;}
section section.container div.content ul.testimonials li a div.clientName {float:left; font-size:18px; margin:14px 0px 14px 14px; }
section section.container div.content ul.testimonials li a div.location {float:right; font-size:14px; margin:18px 18px 0px 0px; }


/*---------------------------------------------------------------FOOTER---------------------------------------------------------------*/
footer {position:relative; width:900px; color:white; font-size:12px; text-align:left; padding-bottom:30px; margin:10px auto; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
footer div.acmedia {position:relative; float:right;}
footer div.acmedia a:Link,
footer div.acmedia a:Visited {color:#cb202a; text-decoration:none;}
footer div.acmedia a:Hover {text-decoration:underline;}