@font-face {font-family: 'TG-Reg'; src: url('/media/fonts/TG-Reg.eot'); src: url('/media/fonts/TG-Reg.eot?#iefix') format('embedded-opentype'), url('/media/fonts/TG-Reg.woff') format('woff'), url('/media/fonts/TG-Reg.ttf') format('truetype'), url('/media/fonts/TG-Reg.svg#trade_gothic_lt_stdregular') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'TG-Bold'; src: url('/media/fonts/TG-Bold.eot'); src: url('/media/fonts/TG-Bold.eot?#iefix') format('embedded-opentype'), url('/media/fonts/TG-Bold.woff') format('woff'), url('/media/fonts/TG-Bold.ttf') format('truetype'), url('/media/fonts/TG-Bold.svg#trade_gothic_lt_stdregular') format('svg'); font-weight: normal; font-style: normal;}

	body {
		background:url(/media/images/bg.jpg) repeat #242424;
		margin:0px;
		padding:0px;
		width:100%;
		height:100%;
		font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
		font-size:14px;
		font-weight:normal;
	}
	
img {border:none;}
input, select, textarea {outline:none; font-family:TG-Bold;}

/*-----------------HEADER-----------------*/	
header {position:relative; float:left; background:url(/media/images/homeHeaderBG.png) top center repeat-x; min-width:960px; width:100%; border-top:10px #cb202a solid; border-bottom:14px #3b3b3b solid;}
header section {position:relative; width:960px; margin:0px auto;}
header section a.brand {float:left; width:242px; height:114px; padding:0px; margin:8px 0px 0px 30px;}
header section div.slogan {position:absolute; top:84px; left:300px; width:366px; height:28px;}
header section div.startNow {position:absolute; top:70px; right:14px; color:#a5a5a5; font-size:14px; text-transform:uppercase; text-align:right; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
header section div.startNow h2 {font-size:22px; color:#c11c25; padding:0px; margin:0px; font-weight:normal;}
header div.slickEagle {position:absolute; bottom:0px; left:50%; background:url(/media/images/slickTire.png) no-repeat; width:207px; height:308px; margin:0px 0px -130px -700px;}

div.content header {position:relative; float:left; background:none; width:100%; border:none; margin:20px 0px 0px 0px;}
div.content header div.headerIcon {position:relative; float:left; height:38px; margin:0px 10px 0px 4px;}
div.content header div.headerIcon img {height:38px;}
div.content header h1 {position:relative; float:left; color:white; text-transform:uppercase; font-weight:normal; font-style:italic; padding:0px; margin:0px; text-shadow:3px 3px 0px black; -webkit-text-shadow:3px 3px 0px black; -moz-text-shadow:3px 3px 0px black; -o-text-shadow:3px 3px 0px black;}
div.content header h6 {position:relative; float:right; color:#cb202a; font-size:14px; text-transform:uppercase; font-weight:normal; font-style:italic; padding:0px; margin:10px 0px 0px 0px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content header hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:6px 0px 6px 0px;}

/*TOP QUICK LINKS*/
header section nav.quickLinks {position:absolute; top:0px; right:10px;}
header section nav.quickLinks ul {list-style:none; margin:0px; padding:0px;}
header section nav.quickLinks ul li {float:left; margin:0px 0px 0px 6px;}
header section nav.quickLinks ul li.raceNow a:Link {background:url(/media/images/quickLinks.png) -10px -16px; width:148px; height:46px; overflow:hidden; text-indent:-9999px; padding-top:10px; display:block;}
header section nav.quickLinks ul li.raceNow a:Visited {background:url(/media/images/quickLinks.png) -10px -16px; width:148px; height:46px; overflow:hidden; text-indent:-9999px; padding-top:10px; display:block;}
header section nav.quickLinks ul li.raceNow a:Hover {background:url(/media/images/quickLinks.png) -10px -96px;}
header section nav.quickLinks ul li.carRoster a:Link {background:url(/media/images/quickLinks.png) -159px -16px; width:148px; height:50px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.quickLinks ul li.carRoster a:Visited {background:url(/media/images/quickLinks.png) -159px -16px; width:148px; height:50px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.quickLinks ul li.carRoster a:Hover {background:url(/media/images/quickLinks.png) -159px -96px;}
header section nav.quickLinks ul li.liveWeather a:Link {background:url(/media/images/quickLinks.png) -311px -16px; width:148px; height:50px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.quickLinks ul li.liveWeather a:Visited {background:url(/media/images/quickLinks.png) -311px -16px; width:148px; height:50px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.quickLinks ul li.liveWeather a:Hover {background:url(/media/images/quickLinks.png) -311px -96px;}
header section nav.quickLinks ul li.photoGallery a:Link {background:url(/media/images/quickLinks.png) -463px -16px; width:148px; height:46px; overflow:hidden; text-indent:-9999px; padding-top:10px; display:block;}
header section nav.quickLinks ul li.photoGallery a:Visited {background:url(/media/images/quickLinks.png) -463px -16px; width:148px; height:46px; overflow:hidden; text-indent:-9999px; padding-top:10px; display:block;}
header section nav.quickLinks ul li.photoGallery a:Hover {background:url(/media/images/quickLinks.png) -463px -96px;}
header section nav.quickLinks ul li.store a:Link {background:url(/media/images/quickLinks.png) -614px -16px; width:154px; height:46px; overflow:hidden; text-indent:-9999px; padding-top:10px; display:block;}
header section nav.quickLinks ul li.store a:Visited {background:url(/media/images/quickLinks.png) -614px -16px; width:154px; height:46px; overflow:hidden; text-indent:-9999px; padding-top:10px; display:block;}
header section nav.quickLinks ul li.store a:Hover {background:url(/media/images/quickLinks.png) -614px -96px;}

/*MAIN NAVIGATION*/
header section nav.mainNav {position:relative; float:left; background:url(/media/images/navBG.png) no-repeat; width:946px; height:99px; z-index:100; margin:-10px 0px 0px 7px;}
header section nav.mainNav ul {list-style:none; padding:0px; margin:17px 0px 0px 20px;}
header section nav.mainNav ul li {float:left; padding:0px; margin:0px;}
header section nav.mainNav ul li.home a:Link {background:url(/media/images/mainNav.png) 0px 0px; width:84px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.home a:Visited {background:url(/media/images/mainNav.png) 0px 0px; width:84px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.home a:Hover {background:url(/media/images/mainNav.png) 0px -49px;}
header section nav.mainNav ul li.history a:Link {background:url(/media/images/mainNav.png) -84px 0px; width:92px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.history a:Visited {background:url(/media/images/mainNav.png) -84px 0px; width:92px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.history a:Hover {background:url(/media/images/mainNav.png) -84px -49px;}
header section nav.mainNav ul li.racing a:Link {background:url(/media/images/mainNav.png) -176px 0px; width:136px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.racing a:Visited {background:url(/media/images/mainNav.png) -176px 0px; width:136px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.racing a:Hover {background:url(/media/images/mainNav.png) -176px -49px;}
header section nav.mainNav ul li.events a:Link {background:url(/media/images/mainNav.png) -312px 0px; width:178px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.events a:Visited {background:url(/media/images/mainNav.png) -312px 0px; width:178px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.events a:Hover {background:url(/media/images/mainNav.png) -311px -49px;}
header section nav.mainNav ul li.gallery a:Link {background:url(/media/images/mainNav.png) -396px 0px; width:94px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.gallery a:Visited {background:url(/media/images/mainNav.png) -396px 0px; width:94px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.gallery a:Hover {background:url(/media/images/mainNav.png) -396px -49px;}
header section nav.mainNav ul li.simulators a:Link {background:url(/media/images/mainNav.png) -490px 0px; width:120px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.simulators a:Visited {background:url(/media/images/mainNav.png) -490px 0px; width:120px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.simulators a:Hover {background:url(/media/images/mainNav.png) -490px -49px;}
header section nav.mainNav ul li.sponsors a:Link {background:url(/media/images/mainNav.png) -610px 0px; width:106px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.sponsors a:Visited {background:url(/media/images/mainNav.png) -610px 0px; width:106px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.sponsors a:Hover {background:url(/media/images/mainNav.png) -610px -49px;}
header section nav.mainNav ul li.faq a:Link {background:url(/media/images/mainNav.png) -716px 0px; width:64px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.faq a:Visited {background:url(/media/images/mainNav.png) -716px 0px; width:64px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.faq a:Hover {background:url(/media/images/mainNav.png) -716px -49px;}
header section nav.mainNav ul li.contact a:Link {background:url(/media/images/mainNav.png) -780px 0px; width:127px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.contact a:Visited {background:url(/media/images/mainNav.png) -780px 0px; width:127px; height:49px; overflow:hidden; text-indent:-9999px; display:block;}
header section nav.mainNav ul li.contact a:Hover {background:url(/media/images/mainNav.png) -780px -49px;}

/*SLIDESHOW*/
div.slideArrowL {position:absolute; background:url(/media/images/slideArrowL.png) no-repeat; top:50%; left:0px; width:96px; height:145px; cursor:pointer; margin-top:10px; z-index:2;}
div.slideArrowR {position:absolute; background:url(/media/images/slideArrowR.png) no-repeat; top:50%; right:0px; width:96px; height:145px; cursor:pointer; margin-top:10px; z-index:2;}

/*HOME HEADER */
header div.slideContainer {position:relative; float:left; width:100%; height:472px; padding:0px; margin:-24px 0px 0px 0px; overflow:hidden;}
header div.slideContainer section {position:relative; width:960px; height:472px; margin:0px auto;}
header .slideContainer section div.orb {position:absolute; bottom:-2px; left:52px;}
header .slideContainer section div.smoke {position:absolute; top:0px; left:52px;}
header .slideContainer section div.femaleRacer {position:absolute; top:0px; left:0px;}
header .slideContainer section div.raceCar {position:absolute; top:100px; left:500px;}
header .slideContainer section div.feelThe {position:absolute; top:56px; left:96px; width:376px; font-size:24px; color:#bababa; text-align:center; text-transform:uppercase; text-shadow:0px 0px 10px black; -moz-text-shadow:0px 0px 10px black; -webkit-text-shadow:0px 0px 10px black; -o-text-shadow:0px 0px 10px black;}
header .slideContainer section div.textMarquee {position:absolute; top:86px; left:100px; width:376px; height:54px; overflow:hidden;}
header .slideContainer section div.textMarquee ul {position:absolute; top:0px; left:0px; width:376px; padding:0px; margin:0px;}
header .slideContainer section div.textMarquee ul li {list-style:none; color:#cb202a; text-transform:uppercase; text-align:center; font-size:54px; line-height:64px; text-shadow:0px 0px 10px black; -webkit-text-shadow:0px 0px 10px black; -moz-text-shadow:0px 0px 10px black; -o-text-shadow:0px 0px 10px black;}

header div.slideContainer section a.watchVideo:Link,
header div.slideContainer section a.watchVideo:Visited {position:absolute; bottom:-14px; left:50%; background:url(/media/images/watchVideoBtn.png) 0px 0px; width:168px; height:79px; overflow:hidden; text-indent:-9999px; display:block; margin-left:-84px;}
header div.slideContainer section a.watchVideo:Hover {background:url(/media/images/watchVideoBtn.png) -180px 0px;}

/*WATCH VIDEO*/
header .slideContainer section div.slideVideoContainer {position:absolute; top:90px; right:20px; background:black; width:500px; height:300px; overflow:hidden; display:none; box-shadow:0px 0px 6px black; -webkit-box-shadow:0px 0px 6px black; -moz-box-shadow:0px 0px 6px black; -o-box-shadow:0px 0px 6px black;}
header .slideContainer section div.slideVideoContainer video {position:absolute; top:0px; left:0px; width:500px; height:300px;}
header .slideContainer section div.slideVideoContainer iframe {border:none;}

/*-----------------------------------------------SUB HEADER-------------------------------------------------------*/
header div.subSlideContainer {position:relative; float:left; width:100%; height:342px; padding:0px; margin:-24px 0px 0px 0px; overflow:hidden;}
header div.subSlideContainer section {position:relative; width:960px; height:342px; margin:0px auto;}
header div.subSlideContainer section ul {position:absolute; top:0px; left:0px; width:960px; height:342px; padding:0px; margin:0px; white-space:nowrap;}
header div.subSlideContainer section ul li {display:inline-block; list-style:none; width:960px; height:342px; margin-right:2000px; white-space:nowrap;}
header div.subSlideContainer section ul li img {width:960px; min-height:342px;}

header div.subSlideContainer section a.watchVideo:Link,
header div.subSlideContainer section a.watchVideo:Visited {position:absolute; bottom:-14px; left:50%; background:url(/media/images/watchVideoBtn.png) 0px 0px; width:168px; height:79px; overflow:hidden; text-indent:-9999px; display:block; margin-left:-84px;}
header div.subSlideContainer section a.watchVideo:Hover {background:url(/media/images/watchVideoBtn.png) -180px 0px;}

/*WATCH VIDEO*/
header .subSlideContainer section div.slideVideoContainer {position:absolute; top:90px; right:20px; background:black; width:500px; height:300px; overflow:hidden; display:none; box-shadow:0px 0px 6px black; -webkit-box-shadow:0px 0px 6px black; -moz-box-shadow:0px 0px 6px black; -o-box-shadow:0px 0px 6px black;}
header .subSlideContainer section div.slideVideoContainer video {position:absolute; top:0px; left:0px; width:500px; height:300px;}

header div.headerShadow {position:absolute; bottom:0px; left:0px; background:url(/media/images/headerShadow.png) repeat-x; width:100%; height:26px;}

/*-----------------GLOBALS---------------*/
.clearfix {width: 100%; clear: both;}
div.content {position:relative; width:960px; margin:0px auto;}
div.ghostGauge {position:absolute; background:url(/media/images/ghostGauge.png) no-repeat; top:-310px; left:50%; width:381px; height:289px; margin-left:-900px;}
div.loading {position:absolute; top:160px; left:50%; background:url(/media/images/ajaxLoader.gif) no-repeat; width:43px; height:11px; margin:0px 0px 0px -5px;}
div.racingOverlay {position:fixed; top:0px; left:0px; background:url(/media/images/startRacingBG.jpg) repeat center center; min-width:960px; width:100%; height:100%; border-top:10px #cb202a solid; opacity:0.9; cursor:pointer; z-index:500; display:none;}

div.splashBG {position:relative; background:url(/media/images/splashBG.png) no-repeat center top; width:1915px; height:909px; margin:0 auto;}

span.eventSubHeader {float: left; width: 100%; color:#CB202A;}
img.corpImage {width: 300px!important;}
img.corpImage.right {float: right !important; margin-left: 20px !important;}
hr.divHLine {position: relative; float: left; background: url(/media/images/divLineH.jpg) repeat-x; width: 100%; height: 2px; border: none; margin: 0px 0px 0px 0px;}

/*START RACING*/
div.startRacing {position:fixed; top:50%; left:50%; width:290px; min-height:100px; padding:6px 6px 42px 6px; margin:0px 0px 0px -150px; z-index:501; display:none; background:#303030; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px black; -webkit-box-shadow:0px 0px 6px black; -moz-box-shadow:0px 0px 6px black; -o-box-shadow:0px 0px 6px black;}
a.closeRacing:Link,
a.closeRacing:Visited {position:absolute; top:14px; left:14px; background:url(/media/images/racingCloseBtn.png) 0px 0px; width:115px; height:36px; overflow:hidden; text-indent:-9999px; display:block;}
a.closeRacing:Hover {background:url(/media/images/racingCloseBtn.png) 0px bottom;}
div.startRacing h3 {position:relative; float:left; width:100%; color:white; font-size:22px; padding:0px; margin:0px 0px 6px 0px; text-align:left; font-weight:normal; text-transform:uppercase; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}

/*CURRENT WEATHER*/
div.liveWeather {position:fixed; top:50%; left:50%; width:300px; min-height:100px; padding:10px; margin:0px 0px 0px -150px; z-index:501; display:none; background:linear-gradient(#3f3f3f 0%, #2d2d2d 100%); background:-webkit-linear-gradient(#3f3f3f 0%, #2d2d2d 100%); background:-moz-linear-gradient(#3f3f3f 0%, #2d2d2d 100%); background:-o-linear-gradient(#3f3f3f 0%, #2d2d2d 100%); border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px black; -webkit-box-shadow:0px 0px 6px black; -moz-box-shadow:0px 0px 6px black; -o-box-shadow:0px 0px 6px black;}
div.liveWeather h3 {position:relative; float:left; width:100%; color:white; font-size:22px; padding:0px; margin:0px 0px 6px 0px; text-align:left; font-weight:normal; text-transform:uppercase; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.liveWeather hr {position:relative; float:left; background:url(/media/images/weatherLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:2px 0px;}
div.liveWeather section.trackWeather {position:relative; float:left; width:100%; height:88px; margin:10px 0px;}
div.liveWeather div.trackBrand {position:relative; float:left; width:140px; margin:18px 0px 0px 0px;}
div.liveWeather div.trackBrand img {width:140px;}
div.liveWeather section.trackWeather hr.vertical {position:absolute; top:0px; left:50%; background:url(/media/images/weatherLineV.jpg) repeat-y; width:2px; height:88px; overflow:hidden; border:none; margin:0px 0px 0px -1px;}
div.liveWeather div.trackWeather {position:relative; float:right; width:140px; color:white; vertical-align:; margin:0px 0px 0px 0px;}
div.liveWeather div.trackWeather div.icon {position:absolute; top:6px; left:0px;}
div.liveWeather div.trackWeather div.icon img {width:74px;}
div.liveWeather div.trackWeather div.status {position:relative; float:right; font-size:16px; width:60px; margin:15px 4px 0px 0px;}
div.liveWeather div.trackWeather div.status span {font-size:30px;}
div.liveWeather div.trackWeather div.status span.weatherDesc {font-size:12px; font-family:TG-Reg;}
div.liveWeather div.trackWeather div.status span.degree {font-size:18px;}

div.loadWeather {position:relative; float:left; background:url(/media/images/ajaxLoader.gif) center center no-repeat; width:100%; height:11px; margin:30px 0px 20px 0px;}

/*SOCIAL LINKS*/
ul.headerSocial {position:absolute; top:198px; right:0px; padding:0px; margin:0px; z-index:2;}
ul.headerSocial li {float:left; list-style:none; color:#909090; text-transform:uppercase; margin:0px 0px 0px 2px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
ul.headerSocial li.social {font-size:14px; margin:12px 4px 0px 0px;}
ul.headerSocial li.facebook a:Link, ul.headerSocial li.facebook a:Visited {background:url(/media/images/social.png) 0px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.facebook a:Hover {background:url(/media/images/social.png) 0px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.twitter a:Link, ul.headerSocial li.twitter a:Visited {background:url(/media/images/social.png) -46px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.twitter a:Hover {background:url(/media/images/social.png) -46px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.youtube a:Link, ul.headerSocial li.youtube a:Visited {background:url(/media/images/social.png) -92px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.youtube a:Hover {background:url(/media/images/social.png) -92px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.yelp a:Link, ul.headerSocial li.yelp a:Visited {background:url(/media/images/social.png) -138px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.yelp a:Hover {background:url(/media/images/social.png) -138px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.instagram a:Link, ul.headerSocial li.instagram a:Visited {background:url(/media/images/social.png) -184px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
ul.headerSocial li.instagram a:Hover {background:url(/media/images/social.png) -184px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}

/*FLASH NOTICE*/
div.siteWideNotice {float:left; background:#792329; width:100%; padding:40px 0;}
.siteWideNotice div.close {float:right; background:url('/media/images/flashClose.png') no-repeat; width:21px; height:21px; margin:-20px 20px 0 0; cursor:pointer;}
.siteWideNotice div.container {width:900px; margin:0 auto; text-align:center;}

/*CALENDAR*/
div.calendarContainer {position:relative; float:left; width:290px;}
.calendarContainer div.calendarBG {position:absolute; background:black; top:0px; left:0px; width:100%; height:100%; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.4; filter:alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

.calendarContainer div.displayDates {position:relative; float:left; width:100%;}
div.calendarContainer div.displayDates table {width:280px; color:white; border:none; margin:0px 5px;}
div.calendarContainer div.displayDates table thead td {width:36px; text-align:center; padding:4px 0px;}
div.calendarContainer div.displayDates table tbody td {width:36px; height:36px; text-align:center; font-size:22px;}
div.calendarContainer div.displayDates table tbody td.available {background:#318e02; cursor:pointer;}
div.calendarContainer div.displayDates table tbody td.available:Hover {background:#007400;}
div.calendarContainer div.displayDates table tbody td.taken {background:#cb202a;}
div.calendarContainer div.displayDates table tbody td.taken:Hover {background:#b61d27;}

div.calendarContainer table.date {position:absolute; top:-44px; right:0px; width:120px; color:white; white-space:nowrap; border:none; margin:14px 0px 0px 40px;}
div.calendarContainer table.date td {font-size:14px; text-transform:uppercase;}
div.calendarContainer table.date td.currentDate {text-align:center;}
div.calendarContainer table.date td.arrow {width:9px;}
a.calArrowL:Link, a.calArrowL:Visited {background:url(/media/images/calendarArrows.png) 0px 0px; width:9px; height:14px; overflow:hidden; text-indent:-9999px; display:block;}
a.calArrowL:Hover {background:url(/media/images/calendarArrows.png) 0px -15px;}
a.calArrowR:Link, a.calArrowR:Visited {background:url(/media/images/calendarArrows.png) right 0px; width:9px; height:14px; overflow:hidden; text-indent:-9999px; display:block;}
a.calArrowR:Hover {background:url(/media/images/calendarArrows.png) right -15px;}

div.calendarContainer div.displayDates table.legend {position:absolute; bottom:-38px; left:40px; border:none; width:220px;}
div.calendarContainer div.displayDates table.legend td {height:16px;font-size:16px; text-transform:uppercase;}
div.calendarContainer div.displayDates table.legend td.available {background:#318e02; width:20px; height:16px; box-shadow:0px 0px 4px black; -webkit-box-shadow:0px 0px 4px black; -moz-box-shadow:0px 0px 4px black; -o-box-shadow:0px 0px 4px black;}
div.calendarContainer div.displayDates table.legend td.taken {background:#cb202a; width:20px; height:16px; box-shadow:0px 0px 4px black; -webkit-box-shadow:0px 0px 4px black; -moz-box-shadow:0px 0px 4px black; -o-box-shadow:0px 0px 4px black;}
div.calendarContainer div.displayDates table.legend tr td.nonDatePass {padding-top:10px;}
div.calendarContainer div.displayDates table.legend tr td.nonDatePass a:Link,
div.calendarContainer div.displayDates table.legend tr td.nonDatePass a:Visited {width:100%; font-size:12px; text-decoration:none; color:#FFF;}
div.calendarContainer div.displayDates table.legend tr td.nonDatePass a:Hover {color:#cb202a;}

/*DATE INFORMATION*/
div.calendarClassInfo {position:absolute; background:#b5b5b5; top:0px; left:0px; width:290px; min-height:60px; padding:5px; display:none; z-index:502; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:3px 3px 0px black; -webkit-box-shadow:3px 3px 0px black; -moz-box-shadow:3px 3px 0px black; -o-box-shadow:3px 3px 0px black;}
div.calendarClassInfo div.loading {position:absolute; top:50%; left:50%; background:url(/media/images/ajaxLoader2.gif) no-repeat; width:43px; height:11px; text-indent:-9999px; margin:-5px 0px 0px -22px; display:block;}

div.calendarClassInfo a.classDetailContainer:Link,
div.calendarClassInfo a.classDetailContainer:Visited {position:relative; float:left; background:#232323; width:290px; height:60px; margin:2px 0px; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;}
div.calendarClassInfo a.classDetailContainer:Hover {background:#161616;}

div.calendarClassInfo a.classDetailContainer div.remaining {position:absolute; top:14px; left:6px; text-align:center; color:#bf101c; font-size:30px; line-height:16px; text-transform:uppercase;}
div.calendarClassInfo a.classDetailContainer div.remainingPast {position:absolute; top:14px; left:6px; text-align:center; color:#bf101c; font-size:24px; line-height:16px; text-transform:uppercase;}
div.calendarClassInfo a.classDetailContainer div.remaining span {color:white; font-size:11px; padding:0px; margin:0px;}

div.calendarClassInfo a.classDetailContainer div.dateLocation {position:absolute; top:4px; right:4px; text-align:right; color:white; font-size:12px; text-transform:uppercase;}
div.calendarClassInfo a.classDetailContainer div.dateLocation span {color:#777;}
div.calendarClassInfo a.classDetailContainer div.bookNow {position:absolute; bottom:4px; right:4px; color:#cb202a; font-size:14px; text-transform:uppercase;}

ul.corpImages {position:relative; float:left; width:100%; padding: 0; margin: 30px 0 0 0;}
ul.corpImages li {float:left; list-style:none; width:100px; height:80px; overflow: hidden; border: 4px solid white; margin: 0px 0px 10px 10px;}
ul.corpImages li img {width:100px; min-height:80px;}

/*---------------------------HOMEPAGE------------------------*/

/*WELCOME*/
section.welcome {position:relative; float:left; width:100%; margin:30px 0px 0px 0px;}
section.welcome div.welcomeLeftCol {position:relative; float:left; width:413px;}
section.welcome div.welcomeRightCol {position:relative; float:right; width:478px; color:white; font-size:14px; text-align:justify; text-shadow:2px 2px 2px black; -webkit-text-shadow:2px 2px 2px black; -moz-text-shadow:2px 2px 2px black; -o-text-shadow:2px 2px 2px black;}
section.welcome div.welcomeRightCol h1 {position:relative; float:left; width:100%; font-size:22px; color:#cb202a; font-weight:normal; text-transform:uppercase; margin:0px 0px 0px 0px;}
section.welcome hr.vertical {position:relative; float:left; background:url(/media/images/divLineV.jpg) repeat-y; width:2px; height:300px; border:none; margin:0px 0px 0px 36px;}
section.welcome hr.horizonal {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:6px 0px;}

/*TWITTER*/
div.content section.twitter {position:relative; float:left; width:100%; margin:20px 0px;}
div.content section.twitter hr {float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:0px;}
div.content .twitter div.twitterContainer {position:relative; float:left; width:100%; height:56px; margin:24px 0px 10px 0px;}
div.content .twitter .twitterContainer div.bird {position:relative; float:left; background:url(/media/images/twitterBird.png) no-repeat; width:44px; height:36px; margin:10px 0px 0px 20px;}
div.content .twitter .twitterContainer div.tweet {position:relative; float:left; color:white; margin:20px 0px 0px 20px;}
div.content .twitter .twitterContainer div.tweet a:Link, div.content .twitter .twitterContainer div.tweet a:Visited {text-decoration:underline; color:#cb202a;}
div.content .twitter .twitterContainer div.twitterBG {position:absolute; background:black; top:0px; left:0px; width:100%; height:56px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; opacity:0.5; filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
div.content .twitter div.followTweets {position:relative; float:right; color:white; margin:0px 0px 20px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content .twitter div.followTweets a:Link, div.content .twitter div.followTweets a:Visited {color:#cb202a; text-decoration:none;}

/*CLIENT ACTIONS*/
div.content section.frontActionsContainer {position:relative; float:left; width:100%; margin:20px 0px;}
.content .frontActionsContainer div.frontActionsWrap {position:relative; float:left; width:290px; padding-bottom:40px;}
.content .frontActionsContainer .frontActionsWrap div.newsletterError {position:relative; float:left; background:black; width:100%; text-align:center; color:red; padding:10px 0px; margin-bottom:6px; display:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px;}
.content .frontActionsContainer div.frontActionsWrap h3 {position:relative; float:left; width:100%; color:white; font-size:22px; padding:0px; margin:0px 0px 6px 0px; text-align:left; font-weight:normal; text-transform:uppercase; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
.content section.frontActionsContainer hr.vertical {position:relative; float:left; background:url(/media/images/divLineV.jpg) repeat-y; width:2px; min-height:300px; height:100%; border:none; margin:0px 20px;}
.content section.frontActionsContainer hr.horizonal {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:20px 0px;}

/*REDEEM VOUCHER*/
div.content .frontActionsContainer div.frontActionsWrap fieldset {float:left; width:100%; color:white; border:none; padding:0px; margin:0px;}
div.content .frontActionsContainer div.frontActionsWrap fieldset input {background:black; width:270px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content .frontActionsContainer div.frontActionsWrap fieldset select {background:black; min-width:290px; width:290px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}

div.content .frontActionsContainer div.frontActionsWrap fieldset button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 0px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.content .frontActionsContainer div.frontActionsWrap fieldset button:Hover {background:#3b3b3b;}

section.schedule-voucher-date {position:relative; float:left; width:100%; margin:0px 0px 0px 0px;}
section.schedule-voucher-date a#scheduleBtn:Link,
section.schedule-voucher-date a#scheduleBtn:Visited {position:relative; left:50%; background:url(/media/images/btn-assign-voucher.png) no-repeat; width:277px; height:33px; overflow:hidden; text-indent:-9999px; display:block; margin-left:-136px;}
section.schedule-voucher-date div#assignClass {position:relative; float:left; width:100%; text-align:center; margin:20px 0; display:none;}
section.schedule-voucher-date div#assignClass select {background:black; width:500px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}

/*POPUP*/
div.voucherPopUp {position:fixed; top:50%; left:50%; background:url(/media/images/homeHeaderBG.png) top center repeat; width:300px; color:white; font-size:18px; display:none; border:4px #cb202a solid; padding:20px 20px; margin:0px 0px 0px -160px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}


/*-----------------------------------------------OUR HISTORY-------------------------------------------------*/
div.content section.history {position:relative; float:left; width:100%; color:white; font-size:16px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.history img {float:left; border:12px #1a1a1a solid; max-width:470px; margin:0px 12px 8px 0px;}


/*--------------------------------------------SCHEDULE A EVENT-----------------------------------------------*/
div.content section.scheduleEvent {position:relative; float:left; width:100%; color:white; font-size:14px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.scheduleEvent div.leftCol {position:relative; float:left; width:484px; text-align:justify; margin:0px 0px 0px 0px;}
div.content section.scheduleEvent div.leftCol img {float:left; border:12px #1a1a1a solid; max-width:234px; margin:0px 12px 8px 0px;}
div.content section.scheduleEvent div.rightCol {position:relative; float:right; width:420px; margin:0px 0px 0px 0px;}
div.content section.scheduleEvent div.rightCol h2 {color:#cd202a; font-size:22px; text-transform:uppercase; font-style:italic; font-weight:normal; font-family:TG-Reg; padding:0px; margin:10px 0px;}
div.content section.scheduleEvent div.rightCol fieldset {position:relative; float:left; width:100%; border:none; margin:14px 0px 0px 0px;}
div.content section.scheduleEvent div.rightCol fieldset input {background:black; width:400px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px -10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.scheduleEvent div.rightCol fieldset select {background:black; min-width:290px; width:290px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px -10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
div.content section.scheduleEvent div.rightCol fieldset textarea {background:black; width:400px; height:100px; max-height:300px; resize:vertical; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px -10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.scheduleEvent div.rightCol fieldset button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 10px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.content section.scheduleEvent div.rightCol fieldset button:Hover {background:#3b3b3b;}

.content section.frontActionsContainer hr.vertical {position:relative; float:left; background:url(/media/images/divLineV.jpg) repeat-y; width:2px; min-height:300px; height:100%; border:none; margin:0px 20px;}
div.content section.scheduleEvent div.rightCol hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:0px 0px;}
div.content section.scheduleEvent hr.divideVertical {position:relative; float:left; background:url(/media/images/divLineV.jpg) repeat-y; width:2px; min-height:300px; height:100%; border:none; margin:0px 0px 0px 26px;}


/*--------------------------------------------RACING SIMULATORS-----------------------------------------------*/
div.content section.simulator {position:relative; float:left; width:100%; color:white; font-size:16px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.simulator img {float:left; border:12px #1a1a1a solid; max-width:470px; margin:0px 12px 8px 0px;}


/*--------------------------------------------CLASSES-----------------------------------------------*/
div.content section.classes {position:relative; float:left; width:100%; margin:0px 0px 0px 0px;}
div.content section.classes div.class {position:relative; float:left; width:100%;}
div.content section.classes div.class div.classInfo {position:relative; float:left; width:100%; padding:10px 0px; cursor:pointer;}
div.content section.classes div.class .classInfo div.className {position:relative; float:left; color:#cd202a; font-size:18px; font-style:italic; margin:0px 0px 0px 0px; text-shadow:3px 3px 0px black; -webkit-text-shadow:3px 3px 0px black; -moz-text-shadow:3px 3px 0px black; -o-text-shadow:3px 3px 0px black;}

div.content section.classes div.class .classInfo a.bookNow:Link,
div.content section.classes div.class .classInfo a.bookNow:Visited {position:relative; float:right; color:#cb202a; font-size:18px; text-decoration:none; margin:0px 0px 0px 0px; text-shadow:3px 3px 0px black; -webkit-text-shadow:3px 3px 0px black; -moz-text-shadow:3px 3px 0px black; -o-text-shadow:3px 3px 0px black;}
div.content section.classes div.class .classInfo a.bookNow:Hover {color:#919191;}

div.content section.classes div.class div.classDesc {position:relative; float:left; width:100%;}
div.content section.classes div.class div.classDesc div.topShadow {position:absolute; top:0px; left:0px; background:url(/media/images/testimonialShadows.png) 0px 0px; width:960px; height:14px; overflow:hidden;}
div.content section.classes div.class div.classDesc div.bottomShadow {position:absolute; bottom:0px; left:0px; background:url(/media/images/testimonialShadows.png) 0px bottom; width:960px; height:14px; overflow:hidden;}
div.content section.classes div.class div.classDesc p {color:#969696; width:940px; font-size:16px; text-align:justify; margin:20px 10px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.classes div.class div.classDesc p span {color:#239600;}
div.content section.classes div.class div.classDesc span {float:left; width: 100%; color: #FFF; font-size: 18px; margin: 14px 0 16px 10px;}

div.content section.classes hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:0px 0px 0px 0px;}

a.class-buy-btn:link,
a.class-buy-btn:visited {
  float: left;
  width: 100%;
  background: #CD202A;
  color: #FFF;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 30px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-shadow: 0 0 6px #000;
}
a.class-buy-btn:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

/*---------------------------------------------GALLERY ALBUMS-------------------------------------------------*/
div.content section.galleryAlbums {position:relative; float:left; width:100%; color:white; font-size:16px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.galleryAlbums a.albumContainer:Link,
div.content section.galleryAlbums a.albumContainer:Visited {position:relative; float:left; width:206px; height:206px; overflow:hidden; text-align:center; border:12px #1a1a1a solid; margin:5px;}
div.content section.galleryAlbums a.albumContainer:Hover {border:12px #141414 solid;}
div.content section.galleryAlbums a.albumContainer img {min-width:206px; max-width:280px; min-height:206px; text-align:center;}
div.content section.galleryAlbums a.albumContainer div.albumFade {position:absolute; bottom:0px; background:url(/media/images/albumFade.png) repeat-x; left:0px; width:100%; height:146px;}
div.content section.galleryAlbums a.albumContainer div.albumName {position:absolute; bottom:6px; left:6px; width:194px; color:white; font-size:14px; text-align:left; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}

div.galleryLoader {position:absolute; top:50%;; left:50%; background:url(/media/images/ajaxLoader.gif) no-repeat; width:43px; height:11px; margin:-5px 0px 0px -22px;}

/*GALLERY IMAGES*/
div.imageContainer {position:fixed; top:50%; left:50%; background:url(/media/images/homeHeaderBG.png) top center repeat; width:700px; color:white; font-size:18px; display:none; z-index:502; border:4px #3b3b3b solid; padding:20px 20px; margin:-210px 0px 0px -370px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black; box-shadow:0px 0px 10px black; -webkit-box-shadow:0px 0px 10px black; -moz-box-shadow:0px 0px 10px black; -o-box-shadow:0px 0px 10px black;}
div.imageContainer h2 {position:absolute; top:-34px; left:0px; color:white; font-size:20px; text-transform:uppercase; font-style:italic; font-weight:normal; font-family:TG-Reg; padding:0px; margin:0px 0px;}
div.imageContainer div.displayImage {position:relative; float:left; background:black; width:700px; height:380px; overflow:hidden; border:1px #353535 solid; margin:0px 0px 0px 0px;}
div.imageContainer div.displayImage img {width:700px; min-height:380px;}
div.imageContainer div.displayImage iframe {width:700px; height:380px; border:none;}

/*CHOOSE IMAGES*/
div.selectImageContainer {position:fixed; bottom:0px; left:0px; background:url(/media/images/homeHeaderBG.png) top center repeat; width:100%; height:80px; z-index:502; color:white; font-size:18px; display:none; border-top:4px #cb202a solid; padding:10px 0px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.selectImageContainer button.ui-galleryBtn-left {position:absolute; top:0px; left:0px; background:url(/media/images/uix-gallery-slider-buttons.jpg) 0px 0px; width:32px; height:100px; overflow:hidden; text-indent:-9999px; border:none; cursor:pointer; display:block;}
div.selectImageContainer button.ui-galleryBtn-left:Hover {background:url(/media/images/uix-gallery-slider-buttons.jpg) -32px 0px;}
div.selectImageContainer button.ui-galleryBtn-right {position:absolute; top:0px; right:0px; background:url(/media/images/uix-gallery-slider-buttons.jpg) right 0px; width:32px; height:100px; overflow:hidden; text-indent:-9999px; border:none; cursor:pointer; display:block;}
div.selectImageContainer button.ui-galleryBtn-right:Hover {background:url(/media/images/uix-gallery-slider-buttons.jpg) -64px 0px;}

div.selectImageContainer div.showGalleryThumbs {position:absolute; top:14px; left:42px; width:100%; height:70px; overflow:hidden; white-space:nowrap;}
div.selectImageContainer div.showGalleryThumbs ul {position:absolute; top:0px; left:0px; padding:0px; margin:0px; white-space:nowrap; }
div.selectImageContainer div.showGalleryThumbs ul li {float:left; list-style:none; background:black; width:120px; height:70px; border:1px #353535 solid; overflow:hidden; white-space:nowrap; margin:0px 10px 0px 0px; box-shadow:0px 0px 10px black; -webkit-box-shadow:0px 0px 10px black; -moz-box-shadow:0px 0px 10px black; -o-box-shadow:0px 0px 10px black;}
div.selectImageContainer div.showGalleryThumbs ul li img {width:120px; min-height:70px; cursor:pointer;}
div.selectImageContainer div.showGalleryThumbs ul li img:Hover {opacity:0.8;}

/*--------------------------------------------OUR SPONSORS-----------------------------------------------*/
div.content section.sponsors {position:relative; float:left; width:100%; color:white; font-size:16px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.sponsors a.banner:Link,
div.content section.sponsors a.banner:Visited {position:relative; float:left; width:450px; height:62px; overflow:hidden; border:12px #1a1a1a solid; margin:2px;}
div.content section.sponsors a.banner:Hover {border:12px #141414 solid;}
div.content section.sponsors a.banner img {width:450px; min-height:62px;}

/*------------------------------------------CLIENT TESTIMONIALS-----------------------------------------------*/
div.content section.testimonails {position:relative; float:left; width:100%; margin:0px 0px 0px 0px;}
div.content section.testimonails div.testimonial {position:relative; float:left; width:100%;}
div.content section.testimonials div.testimonial div.testimonialInfo {position:relative; float:left; width:100%; padding:10px 0px; cursor:pointer;}
div.content section.testimonials div.testimonial .testimonialInfo div.clientName {position:relative; float:left; color:white; font-size:24px; font-style:italic; margin:0px 0px 0px 0px; text-shadow:3px 3px 0px black; -webkit-text-shadow:3px 3px 0px black; -moz-text-shadow:3px 3px 0px black; -o-text-shadow:3px 3px 0px black;}
div.content section.testimonials div.testimonial .testimonialInfo div.clientLocation {position:relative; float:right; font-size:16px; color:#969696; text-align:right; margin:6px 0px 0px 0px; font-family:TG-Reg;}
div.content section.testimonials div.testimonial .testimonialInfo div.written {position:relative; float:right; background:url(/media/images/testimonialType.png) 0px 0px; width:27px; height:19px; overflow:hidden; margin:7px 0px 0px 12px;}
div.content section.testimonials div.testimonial .testimonialInfo div.video {position:relative; float:right; background:url(/media/images/testimonialType.png) right 0px; width:27px; height:19px; overflow:hidden; margin:7px 0px 0px 12px;}
div.content section.testimonials div.testimonial .testimonialInfo div.arrow {position:relative; float:right; background:url(/media/images/testimonialArrows.png) 0px 0px; width:14px; height:10px; overflow:hidden; margin:10px 10px 0px 12px;}
div.content section.testimonials div.testimonial .testimonialInfo div.arrow#arrowOver {background-position-x:right;}

/*HOVER STATE*/
div.content section.testimonials div.testimonial div.testimonialInfo:Hover div.clientName {color:#cb202a;}
div.content section.testimonials div.testimonial div.testimonialInfo:Hover div.clientLocation {color:#cb202a;}
div.content section.testimonials div.testimonial div.testimonialInfo:Hover div.written {background-position-y:bottom;}
div.content section.testimonials div.testimonial div.testimonialInfo:Hover div.video {background-position-y:bottom;}
div.content section.testimonials div.testimonial div.testimonialInfo:Hover div.arrow {background-position-x:right;}
/*TESTIMONIAL*/
div.content section.testimonials div.testimonial div.clientTestimonial {position:relative; float:left; width:100%; display:none;}
div.content section.testimonials div.testimonial div.clientTestimonial div.topShadow {position:absolute; top:0px; left:0px; background:url(/media/images/testimonialShadows.png) 0px 0px; width:960px; height:14px; overflow:hidden;}
div.content section.testimonials div.testimonial div.clientTestimonial div.bottomShadow {position:absolute; bottom:0px; left:0px; background:url(/media/images/testimonialShadows.png) 0px bottom; width:960px; height:14px; overflow:hidden;}
div.content section.testimonials div.testimonial div.clientTestimonial p {color:#969696; width:940px; font-size:16px; text-align:justify; margin:20px 10px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}

div.content section.testimonials hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:0px 0px 0px 0px;}


/*--------------------------------------------FAQ-----------------------------------------------*/
div.content section.faqs {position:relative; float:left; width:100%; margin:0px 0px 0px 0px;}
div.content section.faqs div.faq {position:relative; float:left; width:100%;}
div.content section.faqs div.faq div.faqInfo {position:relative; float:left; width:100%; padding:10px 0px; cursor:pointer;}
div.content section.faqs div.faq .faqInfo div.question {position:relative; float:left; color:white; font-size:18px; font-style:italic; margin:0px 0px 0px 0px; text-shadow:3px 3px 0px black; -webkit-text-shadow:3px 3px 0px black; -moz-text-shadow:3px 3px 0px black; -o-text-shadow:3px 3px 0px black;}
div.content section.faqs div.faq .faqInfo div.arrow {position:absolute; background:url(/media/images/testimonialArrows.png) 0px 0px; top:50%; right:10px; width:14px; height:10px; overflow:hidden; margin:-7px 0px 0px 0px;}
div.content section.faqs div.faq .faqInfo div.arrow#arrowOver {background-position-x:right;}

/*HOVER STATE*/
div.content section.faqs div.faq div.faqInfo:Hover div.question {color:#cb202a;}
div.content section.faqs div.faq div.faqInfo:Hover div.arrow {background-position-x:right;}
/*TESTIMONIAL*/
div.content section.faqs div.faq div.answer {position:relative; float:left; width:100%; display:none;}
div.content section.faqs div.faq div.answer div.topShadow {position:absolute; top:0px; left:0px; background:url(/media/images/testimonialShadows.png) 0px 0px; width:960px; height:14px; overflow:hidden;}
div.content section.faqs div.faq div.answer div.bottomShadow {position:absolute; bottom:0px; left:0px; background:url(/media/images/testimonialShadows.png) 0px bottom; width:960px; height:14px; overflow:hidden;}
div.content section.faqs div.faq div.answer p {color:#969696; width:940px; font-size:16px; text-align:justify; margin:20px 10px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.faqs div.faq div.answer p span {color:#239600;}

div.content section.faqs hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:0px 0px 0px 0px;}


/*--------------------------------------------CONTACT LARX-----------------------------------------------*/
div.content section.mapsContainer {position:relative; float:left; width:100%; padding-bottom:70px;}
div.content section.mapsContainer ul {position:relative; float:left; width:100%; height:365px; overflow:hidden; display:none; white-space:nowrap; padding:0px; margin:10px 0px 0px 0px;}
div.content section.mapsContainer ul li {position:relative; width:826px; list-style:none; margin:10px auto;}
div.content section.mapsContainer ul li ul {width:826px; padding:0px; margin:0px;}
div.content section.mapsContainer ul li ul li {position:relative; background:black; width:800px; height:296px; overflow:hidden; list-style:none; padding:0px; margin:0px; border:12px white solid; box-shadow:0px 0px 8px black; -webkit-box-shadow:0px 0px 8px black; -moz-box-shadow:0px 0px 8px black; -o-box-shadow:0px 0px 8px black;}
div.content section.mapsContainer ul li h4 {width:100%; text-align:left; color:#969696; font-size:24px; text-transform:uppercase; font-weight:normal; padding:0px; margin:0px 0px 0px 0px;}
div.content section.mapsContainer ul li iframe {width:800px; height:296px; border:none; margin:0px;}

div.content section.mapsContainer a.viewMapsBtn:Link,
div.content section.mapsContainer a.viewMapsBtn:Visited {position:absolute; bottom:-4px; left:50%; background:url(/media/images/viewMapsBtn.png) 0px -10px no-repeat; width:160px; height:80px; margin-left:-80px; overflow:hidden; text-indent:-9999px; display:block;}
div.content section.mapsContainer a.viewMapsBtn:Hover {position:absolute; bottom:-4px; left:50%; background:url(/media/images/viewMapsBtn.png) right -10px no-repeat;}


div.content section.contactLARX {position:relative; float:left; width:100%; color:white; font-size:14px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.contactLARX div.leftCol {position:relative; float:left; width:484px; font-size:18px; text-align:justify; margin:0px 0px 0px 0px;}
div.content section.contactLARX div.leftCol span {color:#7c7c7c;}
div.content section.contactLARX div.leftCol img {float:left; border:12px #1a1a1a solid; max-width:234px; margin:0px 12px 8px 0px;}

div.content section div.centerCol {position:relative; float:left; width:100%; font-size:16px; text-align:justify; margin:0px 0px 0px 0px;}
div.content section div.centerCol span {color:#7c7c7c;}
div.content section div.centerCol img {float:left; border:12px #1a1a1a solid; max-width:234px; margin:0px 12px 8px 0px;}

div.content section.contactLARX div.rightCol {position:relative; float:right; width:420px; margin:0px 0px 0px 0px;}
div.content section.contactLARX h2 {color:#cd202a; font-size:22px; text-transform:uppercase; font-style:italic; font-weight:normal; font-family:TG-Reg; padding:0px; margin:10px 0px;}
div.content section.contactLARX div.rightCol fieldset {position:relative; float:left; width:100%; border:none; margin:14px 0px 0px 0px;}
div.content section.contactLARX div.rightCol fieldset input {background:black; width:400px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px -10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.contactLARX div.rightCol fieldset select {background:black; width:420px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px -10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
div.content section.contactLARX div.rightCol fieldset textarea {background:black; width:400px; height:100px; max-height:300px; resize:vertical; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px -10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.contactLARX div.rightCol fieldset button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 10px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.content section.contactLARX div.rightCol fieldset button:Hover {background:#3b3b3b;}

div.content section.contactLARX hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:0px 0px;}
div.content section.contactLARX hr.divideVertical {position:relative; float:left; background:url(/media/images/divLineV.jpg) repeat-y; width:2px; min-height:300px; height:100%; border:none; margin:0px 0px 0px 26px;}


/*--------------------------------------------PURCHASE PASSES-----------------------------------------------*/
div.content section.purchasePasses {position:relative; float:left; width:100%; color:white; font-size:16px; padding:0px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.purchasePasses div.classDesc {position:relative; float:right; width:450px; font-size:14px; color:white; text-align:justify; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.purchasePasses div.classDesc h5 {width:100%; color:#cb202a; font-size:20px; font-weight:normal; padding:0px; margin:0px 0px 4px 0px;}

div.content section.purchasePasses table.classInfo {position:relative; float:left; width:450px; color:#777; font-size:24px; text-transform:uppercase; border:none; border-collapse:0px; border-spacing:2px;}
div.content section.purchasePasses table.classInfo td.title {color:#cb202a; font-size:14px;}
div.content section.purchasePasses table.classInfo td.address {font-size:18px;}
div.content section.purchasePasses table.classInfo td sup {font-size:16px;}

div.content section.purchasePasses ul.passes {position:relative; float:left; width:100%; padding:0px; margin:0px; z-index:2;}
div.content section.purchasePasses ul.passes li {float:left; width:100%; height:104px; list-style:none; background:#1d1d1d; margin-bottom:8px; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px;}

div.content section.purchasePasses a.addPasses:Link,
div.content section.purchasePasses a.addPasses:Visited {position:relative; float:right; background:#cb202a; color:white; font-size:14px; text-decoration:none; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:16px 14px 10px 14px; margin:-16px 12px 0px 0px; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.content section.purchasePasses a.addPasses:Hover {background:#3b3b3b;}

div.content section.purchasePasses fieldset.billingLeft {position:relative; float:left; width:450px; border:none; padding:0px; margin:0px;}
div.content section.purchasePasses fieldset.billingLeft input {float:left;}
div.content section.purchasePasses fieldset.billingLeft select {float:left;}
div.content section.purchasePasses fieldset.billingRight {position:relative; float:right; width:450px; border:none; padding:0px; margin:0px;}
div.content section.purchasePasses fieldset.billingRight input {float:right;}
div.content section.purchasePasses fieldset.billingRight select {float:right;}
div.content section.purchasePasses fieldset.centerCol {position:relative; float:right; width:100%; border:none; padding:0px; margin:0px;}
div.content section.purchasePasses fieldset.centerCol textarea {margin-left:0;}
div.content section.purchasePasses button.disabled {background:#cb202a; opacity:0.6; cursor:default; margin-left:12px;}
div.content section.purchasePasses button.disabled:Hover {background:#3b3b3b;}

div.content section.purchasePasses div.leftCol {position:relative; float:left; width:440px; border:none;}
div.content section.purchasePasses div.centerCol {position:relative; float:right; width:100%; border:none;}
div.content section.purchasePasses div.rightCol {position:relative; float:right; width:440px; border:none;}

div.content section.purchasePasses ul.passes li div.passHeader {position:relative; float:left; width:900px; color:#CCC; font-size:20px; font-style:italic; margin:10px 0px 0px 20px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.purchasePasses ul.passes li div.passHeader img {float:left; margin:-6px 12px 0px 0px;}

div.content section.purchasePasses ul.passes fieldset {position:relative; float:left; width:930px; border:none; margin:0px 0px 0px 0px;}
div.content section.purchasePasses ul.passes fieldset select.selectPackage {float:left; background:black; width:450px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 8px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
div.content section.purchasePasses ul.passes fieldset select.selectVideo {float:right; background:black; width:450px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 8px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}

div.content section.purchasePasses ul.passes li a.removePassBtn:Link,
div.content section.purchasePasses ul.passes li a.removePassBtn:Visited {float:right; background:url(/media/images/removePassBtn.png) no-repeat; width:14px; height:13px; overflow:hidden; text-indent:-9999px; display:block; margin:10px 10px 0px 0px;}

div.content section.purchasePasses hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:10px 0px;}
div.content section.purchasePasses hr.divideVertical {position:relative; float:left; background:url(/media/images/divLineV.jpg) repeat-y; width:2px; min-height:300px; height:100%; border:none; margin:0px 0px 0px 26px;}

div.content section.purchasePasses div.passesRemaining {position:relative; float:right; color:#838383; font-size:16px; margin-top:4px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.purchasePasses div.summary {position:relative; float:right; text-align:right; font-size:16px; color:#d3d3d3; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.purchasePasses div.cartTotal {position:relative; float:right; font-size:20px; color:#cb202a; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.purchasePasses div.cartTotal span {color:#d3d3d3;}

div.content section.purchasePasses label {position:relative; float:left; margin:0px 0px 4px 10px;}
div.content section.purchasePasses input { background:black; width:450px; font-size:16px; color:#919191; padding:12px 0px 12px 10px; margin:0px 0px 10px 0px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.purchasePasses select {background:black; width:450px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
div.content section.purchasePasses select.expMonth {float:left; width:214px;}
div.content section.purchasePasses select.expYear {float:right; width:214px;}
div.content section.purchasePasses textarea {background:black; width:940px; height:100px; max-height:300px; resize:vertical; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.purchasePasses button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:10px 0px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.content section.purchasePasses button:Hover {background:#3b3b3b;}

div.content section.purchasePasses h3 {position:relative; float:left; text-align:left; color:#cd202a; font-size:22px; text-transform:uppercase; font-style:italic; font-weight:normal; font-family:TG-Reg; padding:0px; margin:0px 0px 0px 0px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}

table.purchaseAgree {position:relative; float:right; border:none; border-collapse:0px; border-spacing:0px; margin:0px 0px 0px 0px;}
table.purchaseAgree tr td input#agree {width:20px; padding:0px; margin:0px; opacity:1.0; filter:alpha(opacity=100); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
table.purchaseAgree a:Link,
table.purchaseAgree a:Visited {color:#cb202a;}

div.purchaseThanks {position:relative; float:left; width:100%; color:white; font-size:24px; text-align:center; margin:50px 0px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.purchaseThanks span {font-size:36px; color:#cb202a;}

div.policyWindow {position:fixed; top:50%; left:50%; background:url(/media/images/homeHeaderBG.png) top center repeat; width:500px; height:600px; overflow:auto; color:white; font-size:16px; display:none; border:4px #cb202a solid; padding:20px 20px; margin:-300px 0px 0px -250px; z-index:504; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.policyWindow h6 {position:relative; float:left; color:#cb202a; font-size:24px; padding:0px; margin:0px 0px 6px 0px;}

/*--------------------------------------------REDEEM VOUCHER-----------------------------------------------*/
div.content section.redeemVoucher {position:relative; float:left; width:100%; color:white; font-size:16px; margin:10px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
div.content section.redeemVoucher div.voucherInfo {position:relative; float:left; width:100%; text-align:justify; margin:10px 0px;}
div.content section.redeemVoucher fieldset.leftCol {position:relative; float:left; width:420px; border:none;}
div.content section.redeemVoucher fieldset.rightCol {position:relative; float:right; width:420px; border:none;}
div.content section.redeemVoucher fieldset.centerCol {position:relative; float:right; width:100%; border:none;}
div.content section.redeemVoucher fieldset.voucherWrap {position:relative; float:right; width:420px; border:none;}

div.content section.redeemVoucher div.leftCol {position:relative; float:left; width:420px; border:none;}
div.content section.redeemVoucher div.rightCol {position:relative; float:right; width:420px; border:none;}

div.content section.redeemVoucher hr {position:relative; float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:10px 0px;}
div.content section.redeemVoucher hr.divideVertical {position:relative; float:left; background:url(/media/images/divLineV.jpg) repeat-y; width:2px; min-height:300px; height:100%; border:none; margin:0px 0px 0px 26px;}

div.content section.redeemVoucher fieldset label {position:relative; float:left; margin:0px 0px 4px 10px;}
div.content section.redeemVoucher fieldset input {background:black; width:400px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.redeemVoucher fieldset select {background:black; width:420px; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
div.content section.redeemVoucher fieldset textarea {background:black; width:940px; height:100px; max-height:300px; resize:vertical; font-size:16px; color:#919191; padding:12px 10px; margin:0px 0px 10px 10px; border:none; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; opacity:0.3; filter:alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";}
div.content section.redeemVoucher fieldset button {float:right; background:#cb202a; color:white; font-size:16px; text-transform:uppercase; font-family:TG-Bold, Helvetica Neue, Helvetica, Arial, sans-serif; padding:10px 14px; margin:0px 0px 0px 0px; border:none; cursor:pointer; border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; box-shadow:0px 0px 6px #252525; -webkit-box-shadow:0px 0px 6px #252525; -moz-box-shadow:0px 0px 6px #252525; -o-box-shadow:0px 0px 6px #252525;}
div.content section.redeemVoucher fieldset button:Hover {background:#3b3b3b;}

h3.voucherTitle {position:relative; float:left; width:100%; text-align:left; color:#cd202a; font-size:22px; text-transform:uppercase; font-style:italic; font-weight:normal; font-family:TG-Reg; padding:0px; margin:10px 0px 0px 0px;}


/*-----------------------------------------------OUR POLICIES-------------------------------------------------*/
div.content section.policies {position:relative; float:left; width:100%; color:white; font-size:16px; margin:10px 0px 0px 0px; text-shadow:2px 2px 0px black; -webkit-text-shadow:2px 2px 0px black; -moz-text-shadow:2px 2px 0px black; -o-text-shadow:2px 2px 0px black;}
div.content section.history img {float:left; border:12px #1a1a1a solid; max-width:470px; margin:0px 12px 8px 0px;}
div.content section.policies h6 {width:100%; text-align:center; color:#cd202a; font-size:20px; font-style:italic; font-weight:normal; padding:0px; margin:0px;}

/*-----------------FOOTER---------------*/
footer {position:relative; float:left; background:url(/media/images/footerBG.jpg) repeat-x; min-width:960px; width:100%; min-height:250px; font-weight:normal; font-family:TG-Bold; border-top:14px #3b3b3b solid; margin-top:120px;}
footer section {position:relative; width:960px; margin:0px auto;}
footer div.footerCopyBar {position:absolute; background:black; bottom:0px; left:0px; width:100%; padding:6px 0px;}
footer .footerCopyBar div.copyright {position:relative; float:left; color:white; font-size:12px; text-transform:uppercase;}
footer .footerCopyBar div.acmedia {position:relative; float:right; color:white; font-size:12px; text-transform:uppercase;}
footer .footerCopyBar div.acmedia a:Link, footer .footerCopyBar div.acmedia a:Visited {color:#a4a4a4; text-decoration:none;}
footer .footerCopyBar div.acmedia a:Hover {color:#cb202a; text-decoration:none;}
footer section hr.topDivLine {float:left; background:url(/media/images/divLineH.jpg) repeat-x; width:100%; height:2px; border:none; margin:-70px 0px 0px 0px;}
/*footer div.lugs {position:absolute; top:20px; right:50%; background:url(/media/images/lugNuts.png) no-repeat; width:120px; height:80px; margin-right:-620px;}

/*SOCIAL LINKS*/
footer section ul.social {position:absolute; top:10px; right:6px; padding:0px; margin:0px;}
footer section ul.social li {float:left; list-style:none; color:#909090; text-transform:uppercase; margin:0px 0px 0px 2px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
footer section ul.social li.social {font-size:14px; margin:12px 4px 0px 0px;}
footer section ul.social li.facebook a:Link, ul.headerSocial li.facebook a:Visited {background:url(/media/images/social.png) 0px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
footer section ul.social li.facebook a:Hover {background:url(/media/images/social.png) 0px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
footer section ul.social li.twitter a:Link, ul.headerSocial li.twitter a:Visited {background:url(/media/images/social.png) -46px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
footer section ul.social li.twitter a:Hover {background:url(/media/images/social.png) -46px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
footer section ul.social li.youtube a:Link, ul.headerSocial li.youtube a:Visited {background:url(/media/images/social.png) -92px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
footer section ul.social li.youtube a:Hover {background:url(/media/images/social.png) -92px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
footer section ul.social li.yelp a:Link, ul.headerSocial li.yelp a:Visited {background:url(/media/images/social.png) -138px 0px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}
footer section ul.social li.yelp a:Hover {background:url(/media/images/social.png) -138px -50px; width:44px; height:44px; overflow:hidden; text-indent:-9999px; display:block;}

/*LEARN MORE*/
footer section ul.learn {position:relative; float:right; padding:0px; margin:68px 6px 0px 0px;}
footer section ul.learn li {list-style:none; color:black; text-transform:uppercase; font-size:18px; text-align:left; margin:0px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
footer section ul.learn li a:Link,
footer section ul.learn li a:Visited {color:white; text-decoration:none;}
footer section ul.learn li a:Hover {text-decoration:underline;}

footer section hr.vertical {position:relative; float:right; background:url(/media/images/footerDivLine.jpg) repeat-y; width:2px; height:140px; border:none; margin:68px 20px 0px 20px;}

/*VIEW More*/
footer section ul.view {position:relative; float:right; text-align:right; padding:0px; margin:68px 6px 0px 0px;}
footer section ul.view li {list-style:none; color:black; text-transform:uppercase; font-size:18px; margin:0px 0px 0px 0px; text-shadow:0px 0px 6px black; -webkit-text-shadow:0px 0px 6px black; -moz-text-shadow:0px 0px 6px black; -o-text-shadow:0px 0px 6px black;}
footer section ul.view li a:Link,
footer section ul.view li a:Visited {color:white; text-decoration:none;}
footer section ul.view li a:Hover {text-decoration:underline;}
footer section a.footerBrand:Link,
footer section a.footerBrand:Visited {position:absolute; top:10px; left:0px; background:url(/media/images/footerBrand.png) no-repeat; width:570px; height:216px; text-indent:-9999px;}

/*GAUGES*/
footer div.gauges {position:absolute; background:url(/media/images/footerGauges.png) no-repeat; top:-46px; left:50%; width:284px; height:76px; margin:0px 0px 0px -142px;}
footer:Hover .gauges div.gaugePinS {animation:gaugePinS 5s infinite; -moz-animation:gaugePinS 5s infinite; -webkit-animation:gaugePinS 5s infinite; -o-animation:gaugePinS 5s infinite;}
footer:Hover .gauges div.gaugePinL {animation:gaugePinL 5s infinite; -moz-animation:gaugePinL 5s infinite; -webkit-animation:gaugePinL 5s infinite; -o-animation:gaugePinL 5s infinite;}
footer .gauges div.gaugePinS {position:absolute; background:url(/media/images/gaugePinS.png) top center; top:24px; left:24px; width:8px; height:30px; overflow:hidden; transform:rotate(-60deg); -webkit-transform:rotate(-60deg); -moz-transform:rotate(-60deg); -o-transform:rotate(-60deg);}
footer .gauges div.gaugePinS#oilPress {left:75px;}
footer .gauges div.gaugePinS#water {left:202px;}
footer .gauges div.gaugePinS#oilTemp {left:252px;}
footer .gauges div.gaugePinL {position:absolute; background:url(/media/images/gaugePinL.png) top center; top:16px; left:136px; width:8px; height:40px; overflow:hidden; transform:rotate(-120deg); -webkit-transform:rotate(-120deg); -moz-transform:rotate(-120deg); -o-transform:rotate(-120deg);}

@keyframes gaugePinS {
0% {transform:rotate(-60deg);}
50% {transform:rotate(60deg);}
100% {transform:rotate(-60deg);}
}
@-moz-keyframes gaugePinS {
0% {-moz-transform:rotate(-60deg);}
50% {-moz-transform:rotate(60deg);}
100% {-moz-transform:rotate(-60deg);}
}
@-webkit-keyframes gaugePinS {
0% {-webkit-transform:rotate(-60deg);}
50% {-webkit-transform:rotate(60deg);}
100% {-webkit-transform:rotate(-60deg);}
}
@-o-keyframes gaugePinS {
0% {-o-transform:rotate(-60deg);}
50% {-o-transform:rotate(60deg);}
100% {-o-transform:rotate(-60deg);}
}

@keyframes gaugePinL {
0% {transform:rotate(-120deg);}
50% {transform:rotate(120deg);}
100% {transform:rotate(-120deg);}
}
@-moz-keyframes gaugePinL {
0% {-moz-transform:rotate(-120deg);} 
50% {-moz-transform:rotate(120deg);} 
100% {-moz-transform:rotate(-120deg);}
}
@-webkit-keyframes gaugePinL {
0% {-webkit-transform:rotate(-120deg);}
50% {-webkit-transform:rotate(120deg);}
100% {-webkit-transform:rotate(-120deg);}
}
@-o-keyframes gaugePinL {
0% {-o-transform:rotate(-120deg);}
50% {-o-transform:rotate(0deg);} 
100% {-o-transform:rotate(-120deg);}
}

