@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic);

html, body {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFF;
}

a.btn-link:Link,
a.btn-link:Visited {
	color: #cb202a;	
	font-size: 18px;
}

hr {
	float: left;
	background: #373737;
	width: 100%;
	height: 1px;
	clear: both;
	margin: 20px 0;
	border: none;
	border-top: 1px #000 solid;
}

hr.personalDivide {
	background: url('/media/images/headerShadow.png');
	height: 26px;
	border-top: none;
	border-bottom: 4px #cb202a solid;
	margin: 40px 0 30px 0;
}

span.memberSubTitle {
	float: left;
	font-size: 16px;
	margin-top: 4px;
}

header.main {
	min-width: 360px;
	padding: 20px 0;
	text-align: center;
}

div.content {
	width: 500px;
	padding: 20px;
}

div.content header {
	min-width: 100%;
}

div.desc {
	float: left;
	width: 100%;
	font-size: 18px;
	text-align: justify;
	margin: 20px 0 0 0;
	text-shadow: 0 0 6px #000;
}

div.desc h2 {
	color: #cb202a;
	font-size: 30px;
	text-align: center;
	line-height: 20px;
}

div.desc span {
	color: #FFF;
}

div.desc span.price {
	font-size: 60px;
	font-weight: 700;
}

div.desc span.subText {
	font-size: 16px;
}

h2.orgHeader {
	position: relative;
	float: left;
	width: 100%;
	color: #FFF;
	padding: 0;
	margin: 30px 0 10px 0;
}

h2.chooseDiv {
	margin: 20px 0 4px 0;
}

h2 span {
	color: #cb202a;
}

div.orgInfo {
	float: left;
	width: 100%;
	font-size: 20px;
	margin-top: 10px;
}

div.orgInfo p {
	display: none;
}

div.orgInfo span.name {
	color: #FFF;
	font-size: 24px;
}

div.orgInfo span {
	color: #cb202a;
}

div.orgInfo a:Link,
div.orgInfo a:Visited {
	float: right;
	color: #FFF;
	font-size: 16px;
	margin-top: 6px;
}

div.orgInfo a:Hover {
	color: #cb202a;
}


/* ------ PROCESS ---------*/
div.process {
	width: 84px;
	height: 84px;
	color: #FFF;
	border: 2px #FFF solid;
	font-size: 30px;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	clear: both;
	font-weight: bold;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	-ms-border-radius: 100px;
	border-radius: 100px;
}

div.process.active {
	border-color: #cb202a;
	color: #cb202a;
}

div.chooseCat {
	float: left;
	width: 100%;
	min-height: 140px;
	background: rgba(0,0,0,.3);
	padding: 20px;
	clear: both;
	text-align: center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-ms-border-radius: 12px;
	border-radius: 12px;
	box-shadow: inset 0 0 8px rgba(0,0,0,0.5);
}

div.chooseCat ul {
	padding: 0;
	margin: 0;
}

div.chooseCat ul li {
	float: left;
	height: 108px;
	overflow: hidden;	
	list-style: none;
	cursor: pointer;
	margin: 0 30px 0 0;
}

div.chooseCat ul li:Hover img,
div.chooseCat ul li.active img {
	margin-top: -130px;
}

div.chooseDiv {
	display: none;
}

div.content.form {
	margin-bottom: 100px;
}

div.loading.divisions {
	position: inherit;
	background: none;
	width: 100%;
	height: 48px;
	text-align: center;
	clear: both;
	display: none;
}

/* ------------------- Thank you message ------------------- */
div.laFundProcessed {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

div.laFundProcessed h2 {
	font-size: 26px;
}

div.laFundProcessed span.numbers {
	font-size: 24px;
}

div.laFundProcessed span.subText {
	font-size: 16px;
}

/* ---------------------- Race Passes ---------------------- */
ul.racePasses {
	
}

/* Flash Notice */
div.flashNotice {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(203,32,42,0.5);
	color: #FFF;
	font-size: 22px;
	text-align: center;
	padding: 40px 0;
	display: none;
}

div.flashNotice.hidden {
	display: none;
}

div.flashNotice i.close {
	position: absolute;
	top: 20px;
	right: 20px;
	background: url('/media/images/flashClose.png') no-repeat;
	width: 21px;
	height: 21px;
	display: block;
	cursor: pointer;
}

/* ----------- Form Elements ------------- */
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

label {
	float: left;
	width: 100%;
	font-size: 16px;
	margin-top: 6px;
	clear: both;
}

label span {
	color: #cb202a;
}

input, textarea, select {
	float: left;
}

input, select, textarea, input[readonly] {
	background: #000 !important;
	width: 96%;
	font-size: 16px;
	color: #919191;
	padding: 12px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	border: none;
	clear: both;
}

textarea {
	min-height: 100px;
	max-height: 300px;
	resize: vertical;
}

select.organizations {
	background: #000;
	width: 100%;
	color: #FFF;
	font-size: 16px;
	clear: both;
	padding: 10px;
	border: 8px rgba(203,32,42,0.5) solid;
	-webkit-appearance: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

select.greySelect {
	background: #000;
	width: 100%;
	color: #FFF;
	font-size: 16px;
	clear: both;
	padding: 10px;
	border: 8px rgba(59,59,59,1) solid;
	-webkit-appearance: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

select.selectDate {
	width: 48%;
	-webkit-appearance: none;	
	clear: none;
}

select.selectDate.right {
	float: right;
}

button[type='submit'] {
	float: right;
	background: #cb202a;
	color: #FFF;
	font-size: 20px;
	padding: 10px 14px;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	margin: 20px 0 20px 0;
	transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
}

button[type='submit']:hover {
	background: #84060d;
}

.container.splash {
	margin-bottom: 100px;	
}

div.racingOverlay {
	min-width: 360px;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.container.contact {
	margin-top: 20%;
	max-width: 500px;
	text-align: center;
	text-shadow: 0 0 5px #000;
}

.container.contact h4 {
	font-weight: 700;
}

.container.contact h5 {
	font-size: 32px;
}

.container.contact h6 {
	color: #cb202a;
	font-size: 34px;
	font-weight: 700;
}

.btn-red {
	background: #cb202a;
	color: #FFF;
	font-size: 20px;
}

.btn-red:Hover {
	background: #000;
	color: #FFF;
}

.col-md-6.choose {
	margin-bottom: 10px;
}

/* ----------- Order Summary ------------- */
table.summary {
	width: 100%;	
}

table.summary tr td {
	font-size: 20px;
}

table.summary tr td:nth-last-child(1) {
	text-align: right;
	font-weight: bold;
}

table.summary tr td.orderTotal {
	font-size: 30px;
}

table.bottom_actions {
	width: 100%;
	font-size: 18px;
	text-align: right;
}

input.agree {
	float: none;
	width: auto;
	margin: 4px 6px 6px 0;
}

table.bottom_actions a:Link,
table.bottom_actions a:Visited {
	color: #cb202a;
}

/* --------------- Downloads ------------------ */
a.download-link:Link,
a.download-link:Visited {
	float: left;
	width: 100%;
	color: #FFF;
	font-size: 22px;
	text-align: center;
	box-shadow: inset 0 0 6px #000;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: color 300ms linear;
	-moz-transition: color 300ms linear;
	-o-transition: color 300ms linear;
	-ms-transition: color 300ms linear;
	-webkit-transition: color 300ms linear;
	-moz-transition: box-shadow 300ms linear;
	-o-transition: box-shadow 300ms linear;
	-ms-transition: box-shadow 300ms linear;
	transition: box-shadow 300ms linear;
	padding: 20px;
	margin: 0 auto;
}

a.download-link:Hover {
	color: #cb202a;
	box-shadow: inset 0 0 16px #000;
	-webkit-transition: color 300ms linear;
	-moz-transition: color 300ms linear;
	-o-transition: color 300ms linear;
	-ms-transition: color 300ms linear;
	-webkit-transition: color 300ms linear;
	-moz-transition: box-shadow 300ms linear;
	-o-transition: box-shadow 300ms linear;
	-ms-transition: box-shadow 300ms linear;
	transition: box-shadow 300ms linear;
}

a.download-link img {
	width: 128px;
	clear: both;
}

p.download-description {
	font-size: 20px;
}

/* --------------- Regisration ---------------- */
div.container.terms {
	padding-bottom: 40px;
}

img.celebrating-driver {
	max-width: 80%;
}

div.registeredOrganizations {
	text-align: center;
}

div.iAgree {
	font-size: 16px;
	padding: 28px;
}
	
div.iAgree input {
	width: auto;
	margin: 2px 10px 0 0;
}

div.iAgree span {
	color: #cb202a;
}

.recaptcha_theme_red #recaptcha_response_field {
  color: #FFF !important;
}

/* ----------- Bootstrap Override ------------- */
div.row.downloads > div {
	text-align: center;
}

.form-control {
	background: #000;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	margin: 0;
}

/* Date Picker */
div.datepicker-days {
	color: #000;
	font-weight: normal;	
}

input.LAFRAdmin {
	width: 100%;
}

textarea:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(203, 32, 42, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(203,32,42,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(203,32,42,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(203,32,42,.6);
}

/* iPad */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  {
	.container.contact {
		margin-top: 30%;
	}
}

/* iPhone */
@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {
	.container.contact {
		margin-top: 50%;
	}
}