html, body {
	background: none;
}

header.main {
	display: none;
}

div.container h1 {
	font-size: 20px;
}

section.group-information {
	font-size: 14px;
	padding: 0;
}

section.group-information h3 {
	font-size: 20px;
	margin-top: 0;
}

section.sales-report h2 {
	font-size: 20px;
}

section.groupNotes {
  display: none;
}